@import url("/node_modules/@fortawesome/fontawesome-free/css/all.min.css");

:root {
  --color-main: #ffc845;
  --color-secondary: #279989;
  --color-accent: #44a080;

  --typography-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --text-size: 1.125rem;
  --text-color: #000;

  --block-padding-horizontal: 30px;
  --block-padding-vertical: 32px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-main);
  font-family: var(--typography-main);
  font-size: var(--text-size);
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--block-padding-horizontal);
  height: 9.375rem;
  background-color: var(--color-secondary);
  color: #fff;
}

.main-navigation > ul {
  display: flex;
  gap: 1rem;
}

.main-navigation__link--current {
  font-weight: bold;
}

.info {
  padding: 0 var(--block-padding-horizontal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  background-color: var(--color-accent);
  color: #fff;
  font-size: 1.5rem;
}

.info__action {
  font-size: 3rem;
}
